
<div class="form" dir="rtl" *ngIf="contributes else noContribute">
  <mat-accordion class="accordion">
        <mat-expansion-panel [expanded]=false
      *ngFor="let contribute of contributes" #matExpansionPanel1 hideToggle>
      <mat-expansion-panel-header class="disabled-pointer">
        <mat-panel-title>
         {{contribute.name}}
        </mat-panel-title>
        <mat-panel-description *ngIf="this.getKeyByValue(coinType, contribute.coinType)=='₪'">
          {{contribute.sum}} {{this.getKeyByValue(coinType, contribute.coinType)}}
        </mat-panel-description>
        <mat-panel-description *ngIf="this.getKeyByValue(coinType, contribute.coinType)!=='₪'">
          {{this.getKeyByValue(coinType, contribute.coinType)}} {{contribute.sum}} 
        </mat-panel-description>
        <mat-icon class="icon" (click)="editDetails(contribute)" class="enabled-pointer">edit</mat-icon>
        <mat-icon class="icon" (click)="deleteContribute(contribute)" class="enabled-pointer">delete_outline</mat-icon>
        <!-- (click)="openDialog()" -->
        <h4 class="pipe">|</h4>
        <mat-icon class="icon" color="primary" (click)="showDetails(contribute)" class="enabled-pointer toggle">keyboard_arrow_down</mat-icon>
      </mat-expansion-panel-header>
      <app-contribute-details-form [contribute]="selectedContribute2" [isDisable]="isDisable"
        (onSaveContribute)="saveContributeToList($event)">
      </app-contribute-details-form>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<br>
<button mat-raised-button color="primary" class="btn-primary" (click)="showNewContributeDetails()">הוספת תרומה </button>
<br>

<app-contribute-details-form [contribute]="selectedContribute1" (onSaveContribute)="saveContributeToList($event)">
</app-contribute-details-form>

<ng-template #noContribute>
  <div class="card">לא נמצאו תרומות</div>
</ng-template>
