
<ul class="list-group">
    <li class="list-group-item" *ngFor="let contribute of contributes" [ngClass]="{ 'active':contribute.id==selectedContribute?.id,
                     'list-group-item-success':contribute.name=='a' }"
        [class.list-group-item-danger]="contribute.type==contributeType.A">
        <div class="row">
            <div class="col-1">{{contribute.id}}</div>
            <div class="col-3">{{contribute.name}}</div>
            <div class="col-2">
                <button (click)="showDetails(contribute)">הצג פרטים</button>
            </div>
            <div class="col-2">
                <button (click)="deleteContribute(contribute)">מחיקת תרומה</button>
            </div>
        </div>
    </li>
</ul>
<br>

<button class="btn btn-primary" (click)="showNewContributeDetails()">הוספת תרומה חדשה</button>
<br>

<button class="btn btn-success" (click)="saveContributeToServer()">שמירת תרומה בשרת</button>
<br>

<!-- <task-details
    [task]="selectedTask"
    (onSaveNewTask)="addNewTaskToList($event)"
    (onFirstFocus)="showHelp()"
></task-details> -->

<!-- <task-details-form-td
    [task]="selectedTask"
    (onSaveNewTask)="addNewTaskToList2()"
    (onFirstFocus)="showAdv()"
></task-details-form-td> -->

<app-contribute-details-form [contribute]="selectedContribute" (onSaveContribute)="saveContributeToList($event)"></app-contribute-details-form>

<!-- <button (click)="btnClick($event)">
    Button Click With Event Object
</button>

<input type="text" (change)="search(searchTxt.value)" #searchTxt />

{{searchTxt}} -->