<div class="form">
  <div class="all" dir="rtl">
    <p class="title">הוספת דיווח על העמותה</p>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right center" fxLayoutGap="10px"
      fxLayoutGap.xs="0" [style.marginBottom]="'-2.25em'" 
      [style.marginTop]="'-2em'">

      <p>
        <mat-form-field appearance="outline">
          <mat-label>שם הישות המדינית הזרה</mat-label>
          <input matInput>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>סכום התרומה בש"ח</mat-label>
          <input matInput>
        </mat-form-field>
      </p>

      <mat-form-field class="try" appearance="outline">
        <mat-label>סוג האישות המדינית הזרה</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="container" dir="rtl">
      <p>
        <mat-form-field class="try" appearance="outline" >
          <mat-label>יעוד התרומה</mat-label>
          <input matInput required>
        </mat-form-field>
      </p>
    </div>

    <div class="container" dir="rtl">
      <p>
        <mat-form-field class="try" appearance="outline" [style.marginBottom]="'-2.25em'" 
        [style.marginTop]="'-2em'">
          <mat-label>התנאים לתרומה</mat-label>
          <input matInput>
        </mat-form-field>
      </p>
    </div>

    <div class="container" dir="rtl" fxLayout fxLayout.xs="column" fxLayoutAlign="right center" fxLayoutGap="10px"
      fxLayoutGap.xs="0">
      <mat-form-field appearance="outline">
        <mat-label>סוג המטבע</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>שער ההמרה</mat-label>
          <input matInput>
        </mat-form-field>
      </p>
    </div>
  </div>


  <div class="example-button-row">
    <button mat-raised-button color="basic" class="btn">שמירה</button>
    <button mat-raised-button color="basic" class="btn">ניקוי</button>
  </div>

</div> 

