
.all {
	margin-right: 20px;
}

.container {
	margin-left: 20px;
}

.title {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: larger;
	font-weight: bold;
	margin-block-start: 1em;
    margin-block-end: 1em;
}

.try{
	color:aqua;
	width: 100%;
	
}

.btn {
	border-radius: 50px;
	color:rgb(128, 128, 247);
	border:1px solid rgb(128, 128, 247);
	width: 140px;
	margin: 5px;
}

.btn:hover {
	color: #fff;
	background-color: rgb(84, 84, 173);
}
