<mat-card dir="rtl" [ngClass]="{'mat-elevation-z24':contribute.id == 0, 'mat-elevation-z0':contribute.id !==0}"
  *ngIf="contribute">
  <form [formGroup]="contributeForm">
    <div class="all">
      <ng-container *ngIf="contribute.id == 0">
        <mat-icon (click)="clearNewContribute()"> cancel_presentation</mat-icon>
        <p class="title">הוספת דיווח על העמותה</p>
      </ng-container>
      <div [ngClass]="{'fxLayoutRow':contribute.id == 0, 'fxLayoutCol':contribute.id !== 0}" fxLayout.xs="column"
        fxLayoutGap.xs="0" #p>
        <mat-form-field appearance="outline" fxFlex="25%"
          [ngClass]="{'marginLetf':contribute.id == 0 && this.innerWidth >= 599}">
          <mat-label>שם הישות המדינית הזרה</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="contributeForm.controls?.['name']?.errors">
            {{getErrorMessage("name")}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25%"
          [ngClass]="{'marginLetf':contribute.id == 0 && this.innerWidth >= 599}">
          <mat-label>סכום התרומה</mat-label>
          <input matInput formControlName="sum">
          <mat-error *ngIf="contributeForm.controls?.['sum']?.errors">
            {{getErrorMessage("sum")}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%">
          <mat-label>סוג האישות המדינית הזרה</mat-label>
          <mat-select formControlName="contributeType">
            <mat-option *ngFor="let contributeType of contributeTypes" [value]="contributeType">
              {{contributeType}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contributeForm.controls?.['contributeType']?.errors">
            {{getErrorMessage("contributeType")}}
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="try" appearance="outline">
          <mat-label>יעוד התרומה</mat-label>
          <input matInput formControlName="destination">
          <mat-error *ngIf="contributeForm.controls?.['destination']?.errors">
            {{getErrorMessage("destination")}}
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="try" appearance="outline">
          <mat-label>התנאים לתרומה</mat-label>
          <input matInput formControlName="conditions">
        </mat-form-field>
      </div>

      <div [ngClass]="{'fxLayoutRow':contribute.id == 0, 'fxLayoutCol':contribute.id !== 0}"
        fxLayout.xs="column" fxLayoutGap.xs="0">
        <mat-form-field appearance="outline" fxFlex="25%"
          [ngClass]="{'marginLetf':contribute.id == 0 && this.innerWidth >= 599}">
          <mat-label>סוג המטבע</mat-label>
          <mat-select formControlName="coinType">
            <mat-option *ngFor="let coinType of coinTypes" [value]="coinType">
              {{coinType}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contributeForm.controls?.['coinType']?.errors">
            {{getErrorMessage("coinType")}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25%">
          <mat-label>שער ההמרה</mat-label>
          <input matInput formControlName="gate">
          <mat-error *ngIf="contributeForm.controls?.['gate']?.errors">
            {{getErrorMessage("gate")}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div dir="ltr" >
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="saveNewContribute()"
        *ngIf="!this.isDisable">שמירה</button>
      <button mat-raised-button color="primary" class="btn btn-primary" type="button" (click)="clearContribute()"
        *ngIf="!this.isDisable" [disabled]="!contributeForm.dirty && !contributeForm.valid">ניקוי</button>
    </div>
  </form>
</mat-card>